@page "/events"
@using BlazorIndependetWebAssemblyNoAndroid.Models
@using System.Collections.Generic

<h1>Event List</h1>

@foreach (var ev in Events)
{
    <EventCard EventItem="ev" />
}

<a href="/eventdetails">View Event Details</a>
<a href="/register">Register for Event</a>

@code {
    List<Event> Events = new List<Event>
    {
        new Event { Name = "Sample Event", Date = DateTime.Now, Location = "Sample Location" }
    };
}
