@page "/events"
@using BlazorIndependetWebAssemblyNoAndroid.Models
@using System.Collections.Generic

<h1>Event List</h1>

@foreach (var ev in Events)
{
    <EventCard EventItem="ev" />
}

<NavLink href="/eventdetails" Match="NavLinkMatch.All">View Event Details</NavLink>
<NavLink href="/register" Match="NavLinkMatch.All">Register for Event</NavLink>

@code {
    List<Event> Events = new List<Event>
    {
        new Event { Name = "Event 1", Date = DateTime.Now, Location = "Location 1" },
        new Event { Name = "Event 2", Date = DateTime.Now.AddDays(1), Location = "Location 2" },
        new Event { Name = "Event 3", Date = DateTime.Now.AddDays(2), Location = "Location 3" }
    };

    protected override void OnInitialized()
    {
        Console.WriteLine("EventList initialized with " + Events.Count + " events");
    }
}
